<a href="#" id="menu-toggle-wrapper">
    <div id="menu-toggle"></div>    
</a>

<!-- inner bar wrapper -->
<a href="#" id="inner-bar">
    <!-- Small logo -->
    <div class="logo-alt">
        <img src="{{ 'assets/img/logo-mini.png'|theme }}" alt="logo-mini">
    </div>
    <!-- /Small logo -->
</a>
<!-- /inner bar wrapper -->

<div id="side-bar">
    <div class="inner-wrapper"> 
        <div id="side-inner">

            

            <div id="logo-wrapper">
                <a href="index.html"><img src="{{ 'assets/img/logo.png'|theme }}" alt="logo"></a>
            </div>

            <div id="side-contents">

                <ul id="navigation">
                    <li class="current-menu-item"><a href="{{ '/' }}">Home</a></li>
                    <li class="menu-item-has-children"><a href="#">Work</a>
                        <ul class="sub-menu">
                            <li class="nav-prev"><a href="#"><i class="fa fa-angle-left"></i>Work Categories</a></li>
                            <li><a href="portfolio-video.html">Videography</a></li>
                            <li><a href="portfolio-typo.html">Typography</a></li>
                            <li><a href="portfolio-shooting.html">Shootings</a></li>
                            <li><a href="portfolio-web.html">Web Design</a></li>
                            <li><a href="portfolio-1.html">Single portfolio</a></li>
                            <li><a href="portfolio-2.html">Single portfolio #2</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ '/blog' }}">Blog</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li> 
                </ul>

            </div>

            <!-- Sidebar footer --> 
            <div id="side-footer">
                <!-- Social icons -->   
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                <!-- /Social icons -->  
                <div id="copyright">
                    @owwwlab
                </div>
            </div>
            <!-- /Sidebar footer -->    
                                        
        </div>
    </div>              
</div>

